<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduler Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/public/assets/css/styles.css">
</head>

<body>

    
    <!-- Start: 1 Row 1 Column -->
    <div style="margin-left: 0;margin-right: 0;padding: 6px;padding-left: 27px;padding-right: 54px;"></div>
    <!-- End: 1 Row 1 Column -->
     <div class="container">
       
        <div class="card"></div>
    </div>
    <!-- Start: 1 Row 2 Columns -->
    {{#if coursework}}
        
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {{#each coursework}}
                    <div class="card">
                        <div class="card-body" style="box-shadow: 1px 1px 7px 1px;">
                            
                            
                            <p class="card-title">Status:<b>{{status}}</b></p>
                            
                                {{!-- <p class="card-title" style="color: green">{{status}}</p>
                            {{/if}} --}}
                            <p class="card-title">Due date: <b>{{formatDate end 'MMMM D, YYYY'}}</b></p>
                            <h6 class="card-title">Coursework:<b> {{courseTitle}}</b></h6>
                            <h6 class="card-subtitle mb-2">Module: <b>{{module}}</b></h6>
                            <h6 class="text-muted card-subtitle mb-2">Milestones</h6>
                            {{#each milestones as |milestone|}}
                            <ul>
                                <li>{{milestone}}</li>
                            </ul>
                            
                            {{/each}}
                            <p class="card-title">Started: <b>{{formatDate start 'MMMM D, YYYY'}}</b></p>
                            </div>
                    </div>
                    {{/each}}
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
    {{else}}
    <br>
        <div class="container">
            <h5>You have no coursework</h5>
     </div>
        
    {{/if}}
    <!-- End: 1 Row 2 Columns -->
    <!-- Start: 1 Row 2 Columns 
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
    <!-- End: 1 Row 2 Columns -->
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
</html>